@import url('reset.css');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-fundo: #d5d5c9;
    --cor-texto: #1d1d1d;
    --cor-card: #ffffff;
    --cor-Link: #ffffff;

}

html{
    font-size: 14px;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: var(--cor-fundo);
}

h2, h3, strong{
    font-weight: bold;
}

h2{
    font-size: 1.75rem;
}

h3{
    font-size: 1.5em;
}

nav {
    background-color: #23232e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}



.logo{
    text-transform: uppercase;
    letter-spacing: 4px;
}

a{
    color: var(--cor-Link);
    text-decoration: none;
    transition: 0.70s;
    
}


.Texto{
    margin: 6vw;
    width: 300px;
    height: 150px;
    border: 1px solid #23232e;
    padding: 10px;
}

a:hover{
    opacity: 0.7;
}

.card:hover{
    opacity: 0.9;

}

ul{
    display: flex;
    list-style: none;
    gap: 30px;
    letter-spacing: 1,5px;
}


.card {
    margin: 2vw;
    width: 230px;
    padding: 15px;
    border: 1px solid #23232e;
    border-radius: 10px;
    background-color: #23232e;
    transition: 0.5s;
}

.card:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.card-container { 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    grid-gap: 10px;
}


.produtos-lista{
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;

}

.produtos-lista .produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    width: 200px;
    border-radius: 20px;
    padding: 15px;
    background-color: var(--cor-card);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}



.produtos-lista .produto:hover {
    transform: scale(1.075);
}


.produtos-lista .produto img {
    width: 180px;
    border-radius: 14px;
}

.produtos-lista .produto span {
    text-align: justify;
}


main {
    margin-top: 24px;
}